doctype
html
  head
    meta(charset="UTF-8")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Merriweather" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="css/style-guide.css"> <!-- Resource style -->
    script(src='js/modernizr.js')
    title Style Guide | Oregon Digital
  body
    != yield
