@import url(../../assets/fonts/OD/stylesheet.css);
.font-huge {
    font-family: 'LatoBold', 'HelveticaNeue', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: normal
}

.font-galaxie {
    font-family: 'PTSerif', Georgia, serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: normal
}

.italic {
    font-style: italic
}

h1 {
    font-size: 48px;
    line-height: 48px
}

h2 {
    font-size: 32px;
    line-height: 32px
}

h3 {
    font-size: 24px;
    line-height: 24px
}

#typography h1,
#typography h2,
#typography h3,
#typography h4,
#typography h5,
#typography h6,
#typography p {
    margin-top: 0
}

#typography p {
    color: #444;
    font-family: "PT Serif", sans;
    font-size: 1em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 1.4em;
    max-width: 38em;
    -webkit-hyphenate-limit-before: 4;
    -webkit-hyphenate-limit-after: 2;
    hyphenate-limit-chars: 6 4 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 2;
    hyphenate-limit-zone: 8%
}

@media screen and (min-width:60em) {
    #typography p {
        font-size: 1.2rem
    }
}