.huge-footer {
  background-color: #eeeeee;
  height: $footerHeight;
  text-align: center;
  padding: 40px 0 0;

  .h {
    display: inline-block;
    width: 46px;
    height: 54px;
    background: $teal;
    text-decoration: none;
  }

  p {
    font-family: "HUGEAvantGardeBold", Helvetica, Arial, sans;
    letter-spacing: -1px;
    font-size: 15px;
    color: #999;
    margin-top: 16px;
    -webkit-font-smoothing: antialiased;
  }

  sup {
    font-size: 7px;
    vertical-align: super;
  }
}
